<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<a href="" class="show-expando">
				<div class="panel-heading">
					Zitat einreichen
				</div>
			</a>
			<div class="expando" style="display:none;">
				<div class="panel-body panel-body-segmented">
					<div class="form-group">
						<input type="text" placeholder="Zitat" ng-model="newQuote.title" class="form-control" />
					</div>
					<div class="form-group">
						<textarea placeholder="Beschreibung" ng-model="newQuote.content" class="form-control" />
					</div>
					<div class="form-group">
						<input type="text" placeholder="Author" ng-model="newQuote.cited" class="form-control" />
					</div>

				</div>
				<div class="panel-body panel-body-segmented">
					<input type="button" ng-click="submitQuote()" value="Submit" class="btn btn-primary pull-right" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" infinite-scroll="scrollPagination()" infinite-scroll-disabled="reachedEnd" infinite-scroll-distance="1"
 infinite-scroll-use-document-bottom="true">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Zitate
			</div>
			<span ng-if="loading">Lade...</span>
			<a href="#!/quotes/{{quote._id}}/comments" class="comment-link" ng-repeat="quote in quotes">
				<div class="panel-body panel-body-segmented panel-body-quote-list">
					{{quote.title}}
					<span ng-show="quote.cited">&#8213;
						<i>{{quote.cited}},</i>
					</span>
					<i>{{quote.timestamp | date:"dd.MM.yyyy"}}</i>
					<div class="pull-right">
						<span ng-if="quote.comments.length>0" class="label label-default">{{quote.comments.length}}
							<i class="glyphicon glyphicon-comment"></i>
						</span>
					</div>
					
					
				</div>
				
			</a>
		</div>
	</div>
</div>