<div class="panel panel-default panel-quote panel-segmented">
	<div class="panel-heading">
		<span ng-if='image.title != "NULL"'>{{image.title}}</span>
		<span ng-if='image.title == "NULL"'>Unbenannt</span>
	</div>
	<div class="panel-body panel-body-segmented ">
        <img src="/images/{{image.filename}}" class="img-responsive" style="max-height:800px"/>
	</div>
	<div class="panel-body panel-body-segmented quote-panel-body-segmented quote-panel-footer">
		von {{image.submitter.username}} am {{image.timestamp | date:"dd.MM.yyyy"}} eingereicht
	</div>
</div>
<div class="panel panel-default panel-segmented">
	<div class="panel-heading">
		<span ng-if="image.comments.length == 0">Noch keine Kommentare. Hinterlasse als Erster einen Kommentar!</span>
		<span ng-if="image.comments.length > 0">{{image.comments.length}} Kommentare</span>
		
	</div>
	<div class="panel-body panel-body-segmented">
		<div class="row form ">
			<div class="col-xs-12">
				<div class="input-group">
					<textarea ng-model="newCommentText" placeholder="Schreibe hier deinen Kommentar..." class="form-control"  rows="3" style="resize:none"></textarea>
					<span ng-click="submitComment()" class="input-group-addon btn btn-primary">Senden</span>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="image.comments.length > 0" class="panel-body panel-body-segmented panel-comment" ng-repeat="comment in image.comments">
		<p class="comment">{{comment.content}}</p>
		<p>{{comment.submitter.username}}, {{comment.timestamp | date:"dd.MM.yyyy, HH:mm"}}</p>
	</div>
</div>
