html,
body,
.container-fluid,
.maindiv{
    height:100%;
}

ul.nav.nav-tabs li.active > a.square,
ul.nav.nav-tabs li > a.square{
    border-radius:0px;
    border-bottom:0px;
}


.container-fluid.logged-out{
    display: flex;
    align-items: center;
    background-color:#f3f3f3;
}
.comment, .quote-header{
    white-space: pre;
}
.comment-button-span,
.comment-button-span input {
    height: 100%;
}
.panel {
    border-radius: 1px;
}
.panel.panel-segmented {
    border-bottom: 0;
}
.panel-body.panel-body-segmented {
    border-bottom: 1px solid #ddd;
}

.panel.fixed-width{
    max-width:398px;
}

.material-box{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.panel.panel-quote>.panel-heading {
    border-radius: 1px;
    border-bottom:0;
}
.panel-body.quote-panel-footer {
    padding-top: 5px;
    padding-bottom: 5px;
}
.panel-default .panel-heading{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.comment-link {
    color: inherit;
}

.navbar-flair{
    background-color:#41acf4;
    background: linear-gradient(135deg,#41acf4, #415cf4);
    height:2px;
    width:100%;
    position:absolute;
    bottom:0;
}

nav.navbar.navbar-default{
    border:0;

    
}

.nav.nav-tabs li:not(.active) a{
    border-bottom:0;
}

span.label.label-default{
    background-color:#41acf4;
    background: linear-gradient(135deg,#41acf4, #415cf4);
}

input.btn.btn-primary{
    background: linear-gradient(135deg,#41acf4, #415cf4);
    border:0;
}

button.btn,
input.form-control,
input.btn.btn-primary,
textarea.form-control,
span.btn{
    border-radius:0px;
}


@media screen and (min-width: 768px){
    .panel .panel-body.panel-body-quote-list{
        margin:0px;
        padding:5px 10px;
    }
}
