<div class="row">

	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<div class="panel panel-default fixed-width">
			<div class="panel-body ">
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li role="presentation" class="active">
						<a class="square" href="#login" target="_self" data-target="#login" aria-controls="home" role="tab" data-toggle="tab">Einloggen</a>
					</li>
					<li role="presentation">
						<a class="square" href="#signup" target="_self" data-target="#signup" aria-controls="home" role="tab" data-toggle="tab">Registrieren</a>
					</li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active panel panel-default" id="login">
						<div class="panel-body">
							<form class="form-signin" name="loginForm">
								<div class="form-group" ng-class="(loginForm.email.$invalid && loginForm.email.$touched) || loginForm.$error.invalidPassword ? 'has-error' : ''">
									<input ng-model="email" name="email" type="text" id="inputEmail" class="form-control" placeholder="Benutzername oder E-Mail"
									 required autofocus>
									<span ng-show="loginForm.email.$error.required && loginForm.email.$touched" class="help-block">Benutzername oder E-Mail ist ein Pflichtfeld.</span>
								</div>
								<div class="form-group" ng-class="(loginForm.password.$invalid && loginForm.password.$touched) || loginForm.$error.invalidPassword ? 'has-error' : ''">
									<label for="inputPassword" class="sr-only">Passwort</label>
									<input ng-model="password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Passwort"
									 required>
									<span ng-show="loginForm.password.$error.required && loginForm.password.$touched" class="help-block">Passwort ist ein Pflichtfeld.</span>
									<span ng-show="loginForm.$error.invalidPassword" class="help-block">Benutzername oder Passwort ist falsch.</span>
								</div>
								<div class="form-group">
									<button class="btn btn-lg btn-primary btn-block" ng-click="login()" id="loginButton">Einloggen</button>
								</div>
							</form>
						</div>

					</div>
					<div role="tabpanel" class="tab-pane panel panel-default" id="signup">
						<div class="panel-body">
							<form class="form-signin">
								<div class="form-group">
									<label for="inputEmail" class="sr-only">Email adresse</label>
									<input ng-model="signupUser.email" type="email" id="inputEmail" class="form-control" placeholder="E-Mail" required
									 autofocus>
								</div>
								<div class="form-group">
									<label for="inputUsername" class="sr-only">Benutzername</label>
									<input ng-model="signupUser.username" type="text" id="inputUsername" class="form-control" placeholder="Benutzername" required>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="sr-only">Passwort</label>
									<input ng-model="signupUser.password" type="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
								</div>
								<div class="form-group">
									<button class="btn btn-lg btn-primary btn-block" ng-click="signup()">Registrieren</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
