<div class="panel panel-default panel-quote panel-segmented">
	<div class="panel-heading">
		Zitat
	</div>
	<div class="panel-body panel-body-segmented ">
		<p>{{quote.title}}
			<span ng-show="quote.cited && !quote.content">&#8213;
				<i>{{quote.cited}}</i>
			</span>

			<span ng-show="quote.cited">&#8213;
				<i>{{quote.cited}}</i>
			</span>
		</p>
		<p ng-show="quote.content" class="quote-header">{{quote.content}}</p>
	</div>
	<div class="panel-body panel-body-segmented quote-panel-body-segmented quote-panel-footer">
		von {{quote.submitter.username}} am {{quote.timestamp | date:"dd.MM.yyyy"}} eingereicht
	</div>
</div>
<div class="panel panel-default panel-segmented">
	<div class="panel-heading">
		<span ng-if="quote.comments.length == 0">Noch keine Kommentare. Hinterlasse als Erster einen Kommentar!</span>
		<span ng-if="quote.comments.length > 0">{{quote.comments.length}} Kommentare</span>

	</div>
	<div class="panel-body panel-body-segmented">
		<div class="row form ">
			<div class="col-xs-12">
				<div class="input-group">
					<textarea ng-model="newCommentText" placeholder="Schreibe hier deinen Kommentar..." class="form-control"  rows="3" style="resize:none"></textarea>
					<span ng-click="submitComment()" class="input-group-addon btn btn-primary">Senden</span>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="quote.comments.length > 0" class="panel-body panel-body-segmented panel-comment" ng-repeat="comment in quote.comments">
		<p class="comment">{{comment.content}}</p>
		<p>{{comment.submitter.username}}, {{comment.timestamp | date:"dd.MM.yyyy, HH:mm"}}</p>
	</div>
</div>