<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Login allowed</th>
            <th>Is admin</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td><input type="checkbox" ng-model="user.isLoginAllowed" /></td>
            <td><input type="checkbox" ng-model="user.isAdmin" /></td>
        </tr>
    </tbody>
</table>

<input type="button" class="btn btn-primary pull-right" value="Update" ng-click="updateUsers()" />