<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span ng-if='image.title != "NULL"'>{{image.title}} - </span>
            <span ng-if='image.title == "NULL"'>Unbenannt - </span>
            <span>am {{image.timestamp | date:"dd.MM.yyyy"}} von {{image.submitter.username}} eingereicht</span>
        </h3>
    </div>
    <div class="panel-body">
        <a href="/#!/images/{{image._id}}/comments">
            <img ng-src="/images/{{image.filename}}" class="img-responsive" style="height:350px; width:auto">
        </a>
    </div>
</div>