<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<a href="" class="show-expando">
				<div class="panel-heading">
					Bild einreichen
				</div>
			</a>
			<div class="expando" style="display:none;">
				<div class="panel-body panel-body-segmented">
					<div class="form-group">
						<input type="text" placeholder="Titel" ng-model="newImage.title" class="form-control" />
					</div>
					<div class="form-group">
						<input type="file" nv-file-select uploader="uploader"/>
					</div>

				</div>
				<div class="panel-body panel-body-segmented">
					<input type="button" ng-click="submitImage()" value="Submit" class="btn btn-primary pull-right" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-4" ng-repeat="image in Images track by $index">
        <image-list-item />
    </div>
</div>