<!DOCTYPE html>
<html ng-app="quoteApp">

<head>
	<title>x4blyat</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" async >
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons" async >
	<link rel="stylesheet" type="text/css" href="build/build.css">

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="theme-color" content="#ffa500">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<style>
	</style>
</head>

<body>
	<div class="maindiv" ng-controller="NavigationController">
		<nav class="navbar navbar-default" ng-cloak ng-if="!isLoginPath() && isLoggedIn()">
			<div class="navbar-flair"></div>
			<div class="container-fluid">

				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 col-xs-12">
						<div class="navbar-header">

							<a class="navbar-brand" href="#">
								Quotebase
							</a>
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
							 aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li>
									<a href="#!/quotes">Zitate</a>
								</li>
								<li>
									<a href="#!/images">Bilder</a>
								</li>
								<li>
									<a href="#!/admin" ng-if="isLoggedIn() && isAdmin()">Admin</a>
								</li>

							</ul>
							<ul class="nav navbar-nav pull-right">
								<li>
									<a href="#" ng-if="isLoggedIn()" ng-click="doLogout()">Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="container-fluid" ng-class="{'logged-out':isLoginPath() || !isLoggedIn()}">
			<div class="col-lg-6 col-lg-offset-3 col-xs-12">
				<div class="row" ng-view autoscroll="true">
				</div>
			</div>
		</div>
	</div>

</body>

<script src="build/vendor.js"></script>
<script src="build/build.js"></script>

</html>